body {
  background-color: black;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.header {
  background: url('./images/starfield-banner.jpg ');
  position: fixed;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 14px 0;
  z-index: 2;
}

.logo {
  background-image: url(./images/nasa_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  width: 75px;
  height: 75px;
  margin: 30px 0 0 60px;
}

.nav {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #5e96a7;
}

.up-nav {
  font-size: 16px;
  margin: 28px 0 0 275px;
}

.down-nav {
  display: inline-block;
  margin: 28px 0 0 119px;
  font-size: 12px;
  background-color: #434343;
  padding: 7px;
  line-height: 6px;
  width: 60%;
}

.nav li {
  display: inline-block;
  list-style: none;
  margin: -2px;
  padding: 6.5px;
}

.up-subnav-line {
  border-right: 2px solid #434343;
}

.down-subnav-line {
  border-right: 1px solid #818181;
}

.subnav-no-line {
  border: none;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

input, button {
  border: none;
  outline: none;
}

input {
  width: 51%;
  height: 36px;
}

button {
  height: 36px;
  width: 36px;
  cursor: pointer;
  position: absolute;
}

.search-area {
  display: inline-block;
  background: #434343;
  position: fixed;
  top: 24px;
  right: 80px;
  width: 12%;
}

.search-area input, .search-area button {
  background: transparent;
}

.search-area input {
  box-sizing: border-box;
  padding: 0 0 0 4px;
  border: 2px solid #434343;
}

.search-area button {
  top: 0;
  right: 144px;
}

.search-icon>a {
  text-decoration: none;
  position: fixed;
  top: 31.5px;
  right: 84px;
}

.search-area input:focus {
  border-color: #5e96a7;
}

.share>a {
  text-decoration: none;
  position: fixed;
  top: 31.5px;
  right: 54px;
}

.main-news, .main-stars, .main-nasa, .bottom-bar {
  position: relative;
  top: 129px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 30px;
}

.main-stars {
  font-weight: bolder;
}

.dawn {
  background: url(./images/pia21924-16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 49.4%;
  height: 550px;
}

.dawn-title, .climate-title, .merger-title, .asteroids-title {
  box-sizing: border-box;
  background-color: #546c9a;
  opacity: 0.85;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.dawn-title {
  position: absolute;
  bottom: 30px;
  width: 60px;
}

.dawn-intro, .climate-intro, .launch-intro, .merger-intro, .asteWhite {
  box-sizing: border-box;
  background-color: white;
  opacity: 0.85;
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.dawn-intro, .launch-intro, .asteWhite {
  bottom: 0;
  height: 30px;
  padding: 0 0 0 8px;
  width: 49.4%;
}

.description {
  width: 49.5%;
  height: 500px;
}

.details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.climate {
  background: url(./images/mollweide_cycle.jpg) no-repeat 0 -6px;
  background-size: 105%;
  width: 48.8%;
  height: 290.59px;
}

.climate-title {
  position: absolute;
  top: 211px;
  width: 75px;
}

.climate-intro {
  box-sizing: border-box;
  bottom: 259px;
  height: 50px;
  width: 24.15%;
  padding: 0 8px;
}

.event {
  box-sizing: border-box;
  background-color: #45709a;
  margin: 0;
  padding: 0;
  width: 49%;
  height: 291px;
  z-index: 1;
  list-style: none;
  color: white;
  font-size: 12px;
  font-weight: lighter;
}

.event-content > p {
  line-height: 18px;
  margin: 0;
  padding: 6px 0 0 0;
}

.event-title {
  padding: 0 0 6px 0;
  margin: 15px 15px 0 15px;
  border-bottom: 0.5px solid white;
}

.event-content  {
  margin: 0 7px 0;
}

.event-footer-left {
  display: inline-block;
  width: 36%;
  position: relative;
  top: 129px;
  margin: 7px 0 0 7px;
  padding: 0 0 0 8px;
  border-top: 0.5px solid white;
}

.event-footer-right {
  display: inline-block;
  position: relative;
  top: 129px;
  right: 5px;
  margin: 7px 7px 0 0;
  padding: 0 8px 0 21px;
  border-top: 0.5px solid white;
}

.launch {
  background: url(./images/s69-39961.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 244px;
  margin: 14.5px 0 0 0;
}

.merger {
  margin-top: 13px;
  background: url(./images/ssc2017-14a1.jpg) no-repeat -146px 0;
  background-size: cover;
  width: 24.6%;
  height: 290.1px;
}

.merger-title {
  position: absolute;
  top: 243px;
  width: 149px;
}

.merger-intro {
  bottom: 0;
  height: 30px;
  padding: 0 0 0 8px;
  width: 24.6%;
}

.merger-camera {
  position: relative;
  top: 10px;
  left: 265px;
}

.asteroids {
  margin-top: 13px;
  background: url(./images/pia22556-16.gif) no-repeat;
  background-size: contain;
  width: 49.4%;
  height: 290.1px;
}

.asteroids-title {
  position: absolute;
  top: 243px;
  width: 91px;
}

.demo {
  margin-top: 13px;
  width: 24.6%;
  height: 290.1px;
}

.main-nasa, .bottom-bar {
  position: relative;
  top: 131px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.main-nasa {
  margin: 13px 30px 0;
}

.juno, .cassini, .telescope {
  width: 24.2%;
  height: 290.59px;
}

.nasa-logo {
  background: url(./images/nasa_logo.png) no-repeat -12px -13px;
  width: 24.6%;
  height: 290.59px;
}

.juno {
  background: url(./images/io-home.gif) no-repeat;
}

.cassini {
  background: url(./images/cassini20170809.jpg) no-repeat;
}

.telescope {
  background: url(./images/fermiicecube_as.jpg) no-repeat;
}

.nasa-title, .juno-title, .cassini-title, .telescope-title {
  box-sizing: border-box;
  background-color: #546c9a;
  opacity: 0.85;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.nasa-title, .juno-title, .cassini-title {
  position: relative;
  top: 211px;
}

.nasa-title {
  width: 116px;
}

.juno-title {
  width: 57px;
}

.cassini-title {
  width: 74px;
}

.telescope-title {
  position: relative;
  top: 190.5px;
  width: 197px;
}

.nasa-intro, .juno-intro, .cassini-intro, .telescope-intro {
  box-sizing: border-box;
  background-color: white;
  opacity: 0.85;
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.nasa-intro, .juno-intro, .cassini-intro {
  bottom: 0;
  height: 50px;
  padding: 0 8px;
}

.nasa-intro {
  width: 24.6%;
}

.juno-intro, .cassini-intro, .telescope-intro {
  width: 24.2%;
}

.telescope-intro {
  bottom: 0;
  height: 70px;
  padding: 0 8px;
}

.camera {
  position: relative;
  top: -24px;
  left: 265px;
}

.bottom-bar {
  margin: 28px 20px 0;
  background-color: #003d92;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-size: 15px;
}

.top-footer  {
  position: relative;
  top: 155px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.footer-nana-logo {
  background: url(./images/nasa_logo.png) no-repeat;
  background-size: 90%;
  float: left;
  margin: 13px 30px 0;
  width: 5%;
  height: 59px;
}

.top-footer > p {
  display: inline-block;
  color: white;
  position: relative;
  top: -2px;
  right: 883px;
  width: 22%;
  height: 80px;
  font-size: 12px;
}

.bottom-footer {
  margin: 0;
  padding: 0;
  position: relative;
  top: 115px;
  left: 439px;
  width: 63%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.page-statement  {
  font-size: 11px;
  line-height: 20px;
}

.page-statement > a {
  color: #3c5272;
}

.page-statement > a:hover {
  text-decoration: none;
  color: #5e96a7;